{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Добро пожаловать</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Добро пожаловать на сайт хороших новостей!</h1>
            <p class="lead">Выберите раздел:</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg brand-color" href="{% url 'home' %}">Приложение новостей</a>
            <a class="btn btn-secondary btn-lg" href="/admin/">Админка</a>
        </div>
    </div>
</body>
</html>