{% extends 'base.html' %}
{% load news_tags %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/add_news.css' %}">
{% endblock %}

{% block title %}
    {{ upper_title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Категория: <a href="{{ news_item.category.get_absolute_url }}" class="category-name">{{ news_item.category }}</a></span>
                    {% if user.is_authenticated and user.username == news_item.author %}
                    <div class="news_options">
                        <a href="{% url 'update_news' news_item.pk %}" class="btn btn-sm brand-color">Редактировать</a>
                        <a href="{% url 'delete_news' news_item.pk %}" class="btn btn-sm brand-color">Удалить</a>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="media">
                        {% if news_item.photo %}
                            <img src="{{ news_item.photo.url }}" alt="" width="350" class="img-fluid mb-3 mb-sm-0 mr-sm-3">
                        {% else %}
                            <img src="https://i.ibb.co/fYzs5N34/empty.jpg" alt="" class="img-fluid mb-3 mb-sm-0 mr-sm-3">
                        {% endif %}
                        <div class="media-body">
                            <h5 class="card-title">{{ news_item.title }}</h5>
                            <div class="card-text">
                                {{ news_item.content|safe|linebreaks }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                    <span>{{ news_item.created_at|date:"Y-m-d H:i:s" }}</span>
                    <span>Автор:
                        {% if news_item.author %}
                            "{{ news_item.author }}"
                        {% else %}
                            Неизвестен
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}